.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:80px;
    padding: 39px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    max-width: 1296px;
    width: 100%;
}

.link{
    color: rgb(255, 255, 255);
    font-family: Cormorant Garamond;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.link:hover{
    color: rgb(205, 170, 125);
    border-bottom: 1px solid rgb(205, 170, 125);
}