.title{
    padding-top: 80px;
    color: rgb(255, 255, 255);
    font-family: Garamond;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.card-masters{
    position: relative;
}

.card-border-masters{
    border: 1px solid rgb(205, 170, 125);
    padding-top: 476px;
}

.masters-item{
    position: absolute;
    left: -20px;
    top: 20px;
    list-style: none;
}

.mastersCards{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 400px); 
    gap: 158px 44px;
    margin: 80px 0 200px 0;
}
.nameMaster{
    color: rgb(255, 255, 255);
    font-family: Garamond;
    font-size: 27px;
    font-weight: 700;
    padding-top: 30px;
}

.specilizationMaster{
    color: rgb(255, 255, 255);
    font-family: Garamond;
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
}

