.welcome-section{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-block-list{
    background-color: #282c33;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin: auto;
    gap: 25px;
}

.welcome-title, .welcome-descr, .close-welcome-popup-btn{
    color: rgb(205, 170, 125);
    font-family: Garamond;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    
}

.welcome-descr{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    max-width: 400px;
    width: 100%;
    color: #FFFFFF;
}

.close-welcome-popup-btn{
    padding: 22px 70px;
    max-width: 370px;
    width: 100%;  
    font-size: 50px;
    font-weight: 600;
    background-color: rgb(205, 170, 125);
    color: #FFFFFF;
    border-radius: 15px;
    cursor: pointer;
}

.close-welcome-popup-btn:hover{
    background-color: #FFFFFF; 
    color: rgb(205, 170, 125);
}